@model List<NewsSystem.Client.MVC.Models.NewsViewModels.FourNewsViewModel>

@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="jumbotron col-md-8 text-center">
        <h2>Last four added news.</h2>
        <div class="row">
            @Html.ActionLink(@Model[0].Title, "Details", "News", new { @id = Model[0].Id }, null)
        </div>
        <img src="@Url.Content(Model[0].ImagePath)" alt=@Model[0].Title title=@Model[0].Title style="width:545px" />
        <br /><br />
        <div class="row">
            @Html.ActionLink(@Model[1].Title, "Details", "News", new { @id = Model[1].Id }, null)
        </div>
        <img src="@Url.Content(Model[1].ImagePath)" alt=@Model[1].Title title=@Model[1].Title style="width:545px" />
        <br /><br />
        <div class="row">
            @Html.ActionLink(@Model[2].Title, "Details", "News", new { @id = Model[2].Id }, null)
        </div>
        <img src="@Url.Content(Model[2].ImagePath)" alt=@Model[2].Title title=@Model[2].Title style="width:545px" />
        <br /><br />
        <div class="row">
            @Html.ActionLink(@Model[3].Title, "Details", "News", new { @id = Model[3].Id }, null)
        </div>
        <img src="@Url.Content(Model[3].ImagePath)" alt=@Model[3].Title title=@Model[3].Title style="width:545px" />
    </div>
</div>