@model NewsSystem.Client.MVC.Models.UserViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "User details.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <h1 class="text-center">User details page!</h1>
    <div class="well col-md-6 col-md-offset-3">
        <br />
        <div class="row form-group">
            <div class="col-md-6 text-right">
                @Html.Label("Username: ")
            </div>
            <div class="col-md-6">
                @Html.Label(Model.UserName)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 text-right">
                @Html.Label("First name: ")
            </div>
            <div class="col-md-6">
                @Html.Label(Model.FirstName)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 text-right">
                @Html.Label("Last name: ")
            </div>
            <div class="col-md-6">
                @Html.Label(Model.LastName)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 text-right">
                @Html.Label("E-mail: ")
            </div>
            <div class="col-md-6">
                <strong>@Html.Encode(Model.Email)</strong>
            </div>
        </div>
        @if (Model.UserArticles.Count <= 0)
        {
            <div class="row form-group">
                <div class="col-md-12 text-center">
                    @Html.Label("No articles for this user.")
                </div>
            </div>
        }
        else
        {
            foreach (var article in Model.UserArticles)
            {
                <div class="row form-group">
                    <div class="col-md-6">
                        @Html.Label(article.Title)
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("View article", "Details", "News", new { id = article.Id })
                    </div>
                </div>
            }
        }
    </div>
</div>
