@model NewsSystem.Client.MVC.Models.NewsViewModels.NewsDetailsViewModel
@{
    ViewBag.Title = "News details.";
}

<br />
<br />
<div class="row">
    <h1 class="text-center">@Model.Title</h1>
    <div class="well col-md-6 col-md-offset-3">
        <br />
        <div class="row form-group">
            <div class="col-md-12 text-center">
                <h5>@Html.Label(Model.Resume)</h5>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <img src="@Url.Content(Model.ImagePath)" alt="Image" style="width:545px" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 text-center">
                @Html.Label(Model.Content, new { @style = "width: 550px" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 text-right">
                Created on: @Html.Label(Model.AddedOn.ToString())
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                By: <strong>@Html.ActionLink(Model.Author, "Details", "User", new { @id = Model.AuthorId }, null)</strong>
            </div>
        </div>
        @if (User.IsInRole("Administrator"))
        {
            <div class="row form-group">
                <div class="col-md-6">
                </div>
                <div class="col-md-5 text-right">
                    @Html.ActionLink("Edit new's details", "Edit", "News", new { id = Model.Id }, null)
                </div>
            </div>
        }
    </div>
</div>
